[submodule "crosstool-ng"]
	path = crosstool-ng
	url = https://github.com/zephyrproject-rtos/crosstool-ng.git
[submodule "binutils"]
	path = binutils
	url = https://github.com/zephyrproject-rtos/binutils-gdb.git
[submodule "newlib"]
	path = newlib
	url = https://github.com/zephyrproject-rtos/newlib-cygwin.git
[submodule "gcc"]
	path = gcc
	url = https://github.com/zephyrproject-rtos/gcc.git
[submodule "gdb"]
	path = gdb
	url = https://github.com/zephyrproject-rtos/binutils-gdb.git
[submodule "picolibc"]
	path = picolibc
	url = https://github.com/zephyrproject-rtos/picolibc.git
[submodule "crosskit-x86_64-apple-darwin"]
	path = crosskit/crosskit-x86_64-apple-darwin
	url = https://github.com/zephyrproject-rtos/crosskit-x86_64-apple-darwin.git
[submodule "crosskit/crosskit-x86_64-darwin-libpython"]
	path = crosskit/crosskit-x86_64-darwin-libpython
	url = https://github.com/zephyrproject-rtos/crosskit-x86_64-darwin-libpython.git
[submodule "crosskit/crosskit-mingw-w64-libpython"]
	path = crosskit/crosskit-mingw-w64-libpython
	url = https://github.com/zephyrproject-rtos/crosskit-mingw-w64-libpython.git
[submodule "gcc_arc"]
	path = gcc_arc
	url = https://github.com/zephyrproject-rtos/gcc.git
[submodule "binutils_arc"]
	path = binutils_arc
	url = https://github.com/zephyrproject-rtos/binutils-gdb.git
