# SPDX-License-Identifier: Apache-2.0

config TOOLCHAIN_ZEPHYR_0_16
	def_bool y
	# FIXME: Newlib-nano is disabled for Xtensa targets due to the memset
        #        bug causing crashes (see the GitHub issue #660).
	select HAS_NEWLIB_LIBC_NANO if !XTENSA

config TOOLCHAIN_ZEPHYR_SUPPORTS_THREAD_LOCAL_STORAGE
	def_bool y
	select TOOLCHAIN_SUPPORTS_THREAD_LOCAL_STORAGE

config PICOLIBC_SUPPORTED
	def_bool y
	depends on "$(ZEPHYR_TOOLCHAIN_VARIANT)" = "zephyr"
	help
	  Zephyr SDK >=0.16 always supports Picolibc for C and C++ development.
