CT_CONFIG_VERSION="2"
CT_OBSOLETE=y
CT_LOCAL_TARBALLS_DIR="${CT_PREFIX:-${HOME}/x-tools}/sources"
# CT_PREFIX_DIR_RO is not set
CT_STRIP_TARGET_TOOLCHAIN_EXECUTABLES=y
CT_PATCH_BUNDLED_LOCAL=y
CT_LOCAL_PATCH_DIR="${CT_TOP_DIR}/../../patches"
# CT_LOG_PROGRESS_BAR is not set
CT_ARCH_ARC=y
CT_MULTILIB=y
CT_TARGET_VENDOR="zephyr"
CT_LIBC_NEWLIB_TARGET_CFLAGS="-DMISSING_SYSCALL_NAMES"
CT_LIBC_NEWLIB_IO_FLOAT=y
# CT_LIBC_NEWLIB_FSEEK_OPTIMIZATION is not set
CT_LIBC_NEWLIB_DISABLE_SUPPLIED_SYSCALLS=y
CT_LIBC_NEWLIB_GLOBAL_ATEXIT=y
CT_LIBC_NEWLIB_LITE_EXIT=y
# CT_LIBC_NEWLIB_MULTITHREAD is not set
# CT_LIBC_NEWLIB_WIDE_ORIENT is not set
CT_LIBC_NEWLIB_NANO_MALLOC=y
CT_LIBC_NEWLIB_NANO_FORMATTED_IO=y
CT_CC_GCC_EXTRA_CONFIG_ARRAY="--with-gnu-ld --with-gnu-as --enable-initfini-array"
CT_CC_LANG_CXX=y
CT_DEBUG_GDB=y
CT_ISL_V_0_18=y
CT_LIBICONV_NEEDED=y
CT_TARGET_CFLAGS="-mno-sdata"
