CT_CONFIG_VERSION="3"
CT_EXPERIMENTAL=y
# CT_PREFIX_DIR_RO is not set
# CT_LOG_PROGRESS_BAR is not set
CT_ARCH_ARM=y
CT_ARCH_ARM_INTERWORKING=y
CT_MULTILIB=y
CT_TARGET_VENDOR="zephyr"
CT_TARGET_CFLAGS="-ftls-model=local-exec"
CT_CC_GCC_MULTILIB_LIST="rmprofile"
CT_LIBC_NEWLIB_NANO_TARGET_CFLAGS="-mthumb-interwork"
