CT_CONFIG_VERSION="3"
CT_EXPERIMENTAL=y
CT_LOCAL_TARBALLS_DIR="${CT_PREFIX:-${HOME}/x-tools}/sources"
# CT_PREFIX_DIR_RO is not set
CT_PATCH_BUNDLED_LOCAL=y
CT_LOCAL_PATCH_DIR="${CT_TOP_DIR}/../../patches"
# CT_LOG_PROGRESS_BAR is not set
CT_ARCH_ARM=y
CT_ARCH_ARM_INTERWORKING=y
CT_MULTILIB=y
CT_TARGET_VENDOR="zephyr"
CT_BINUTILS_V_2_35=y
CT_LIBC="picolibc"
CT_LIBC_NEWLIB=n
CT_LIBC_PICOLIBC=y
CT_CC_GCC_CONFIG_TLS=y
CT_TARGET_CFLAGS="-ftls-model=local-exec"
CT_CC_GCC_MULTILIB_LIST="rmprofile"
CT_GCC_V_10=y
CT_CC_GCC_EXTRA_CONFIG_ARRAY="--with-gnu-ld --with-gnu-as --enable-initfini-array"
CT_CC_GCC_MULTILIB_LIST="rmprofile"
CT_DEBUG_GDB=y
CT_GDB_V_9_2=y
CT_GDB_CROSS_PYTHON_BINARY="python3.8"
CT_GDB_CROSS_BUILD_NO_PYTHON=y
