CT_CONFIG_VERSION="3"
CT_EXPERIMENTAL=y
CT_LOCAL_TARBALLS_DIR="${CT_PREFIX:-${HOME}/x-tools}/sources"
# CT_PREFIX_DIR_RO is not set
CT_PATCH_BUNDLED_LOCAL=y
CT_LOCAL_PATCH_DIR="${CT_TOP_DIR}/../../patches"
# CT_LOG_PROGRESS_BAR is not set
CT_ARCH_ARM=y
CT_MULTILIB=y
CT_ARCH_64=y
CT_TARGET_VENDOR="zephyr"
CT_BINUTILS_V_2_35=y
CT_LIBC="picolibc"
CT_LIBC_NEWLIB=n
CT_LIBC_NANO_NEWLIB=n
CT_LIBC_PICOLIBC=y
CT_PICOLIBC_SRC_DEVEL=y
CT_PICOLIBC_DEVEL_URL="https://github.com/picolibc/picolibc.git"
CT_PICOLIBC_DEVEL_REVISION="99a357f63b532e1fe199c20b0ea3dd3ec5c61133"
CT_CC_GCC_CONFIG_TLS=y
CT_TARGET_CFLAGS="-ftls-model=local-exec"
CT_GCC_V_10=y
CT_CC_GCC_EXTRA_CONFIG_ARRAY="--with-gnu-ld --with-gnu-as --enable-initfini-array"
CT_CC_LANG_CXX=n
CT_CC_GCC_LIBSTDCXX_NANO=n
CT_DEBUG_GDB=y
CT_GDB_V_9_2=y
CT_GDB_CROSS_PYTHON_BINARY="python3.8"
CT_GDB_CROSS_BUILD_NO_PYTHON=y
CT_GDB_CROSS_EXTRA_CONFIG_ARRAY="--enable-targets=arm-zephyr-eabi"
