# Common crosstool-ng configurations for all toolchain variants

# Ncurses
CT_NCURSES_HOST_FALLBACKS="linux,xterm,xterm-color,xterm-256color,vt100,screen,screen-256color,tmux,tmux-256color"

# Binutils
CT_BINUTILS_SRC_CUSTOM=y
CT_BINUTILS_CUSTOM_LOCATION="${GITHUB_WORKSPACE}/binutils"
CT_BINUTILS_EXTRA_CONFIG_ARRAY="--disable-warn-rwx-segments"

# GDB
CT_DEBUG_GDB=y
CT_GDB_SRC_CUSTOM=y
CT_GDB_CUSTOM_LOCATION="${GITHUB_WORKSPACE}/gdb"

# GCC
CT_GCC_SRC_CUSTOM=y
CT_GCC_CUSTOM_LOCATION="${GITHUB_WORKSPACE}/gcc"
CT_CC_GCC_EXTRA_CONFIG_ARRAY="--with-gnu-ld --with-gnu-as --enable-initfini-array"
CT_CC_GCC_CORE_EXTRA_CONFIG_ARRAY="--with-gnu-ld --with-gnu-as --enable-initfini-array"
CT_CC_LANG_CXX=y
CT_MULTILIB_SPACE=y
CT_CC_LANG_OBJC=y
CT_CC_LANG_OBJCXX=y
CT_EXPERIMENTAL=y

# Picolibc
CT_LIBC_PICOLIBC=y
CT_PICOLIBC_SRC_CUSTOM=y
CT_PICOLIBC_CUSTOM_LOCATION="${GITHUB_WORKSPACE}/picolibc"
CT_LIBC_PICOLIBC_GLOBAL_ATEXIT=y
CT_LIBC_PICOLIBC_EXTRA_SECTIONS=y
CT_LIBC_PICOLIBC_ENABLE_TARGET_OPTSPACE=n
CT_LIBC_PICOLIBC_EXTRA_CONFIG_ARRAY="-Dthread-local-storage=auto -Derrno-function=zephyr -Dsysroot-install=true -Dsysroot-install-skip-checks=true -Dassert-verbose=false"
