CT_CONFIG_VERSION="3"
CT_EXPERIMENTAL=y
# CT_PREFIX_DIR_RO is not set
# CT_LOG_PROGRESS_BAR is not set
CT_ARCH_X86=y
CT_MULTILIB=y
CT_ARCH_64=y
CT_TARGET_VENDOR="zephyr"
CT_TARGET_CFLAGS="-ftls-model=local-exec"
CT_BINUTILS_EXTRA_CONFIG_ARRAY="--enable-targets=x86_64-pep"
CT_CC_GCC_EXTRA_CONFIG_ARRAY="--with-gnu-ld --with-gnu-as --enable-initfini-array --with-cpu-32=i586 --with-arch-32=i586 --with-cpu-64=generic --with-arch-64=x86-64"
