CT_CONFIG_VERSION="3"
CT_EXPERIMENTAL=y
CT_LOCAL_TARBALLS_DIR="${OUTPUT_DIR:-${HOME}/x-tools}/sources"
# CT_PREFIX_DIR_RO is not set
CT_PATCH_BUNDLED_LOCAL=y
CT_LOCAL_PATCH_DIR="${CT_TOP_DIR}/../../patches"
# CT_LOG_PROGRESS_BAR is not set
CT_ARCH_XTENSA=y
CT_XTENSA_CUSTOM=y
CT_MULTILIB=y
CT_TARGET_CFLAGS="-mlongcalls"
CT_OVERLAY_NAME="esp32"
CT_OVERLAY_LOCATION="./overlays"
CT_TARGET_VENDOR="zephyr"
CT_BINUTILS_SRC_DEVEL=y
CT_BINUTILS_DEVEL_URL="https://github.com/espressif/binutils-gdb.git"
CT_BINUTILS_DEVEL_BRANCH="esp-2020r1-binutils"
CT_BINUTILS_PATCH_LOCAL=y
CT_BINUTILS_V_2_30=y
CT_NEWLIB_SRC_DEVEL=y
CT_NEWLIB_DEVEL_URL="https://github.com/espressif/newlib-esp32.git"
CT_NEWLIB_DEVEL_BRANCH="esp-2020r1"
CT_NEWLIB_PATCH_LOCAL=y
CT_NEWLIB_V_3_0=y
CT_LIBC_NEWLIB_IO_C99FMT=y
CT_LIBC_NEWLIB_IO_LL=y
CT_LIBC_NEWLIB_IO_FLOAT=y
# CT_LIBC_NEWLIB_FSEEK_OPTIMIZATION is not set
CT_LIBC_NEWLIB_DISABLE_SUPPLIED_SYSCALLS=y
CT_LIBC_NEWLIB_LITE_EXIT=y
# CT_LIBC_NEWLIB_MULTITHREAD is not set
CT_LIBC_NEWLIB_RETARGETABLE_LOCKING=y
CT_LIBC_NEWLIB_EXTRA_SECTIONS=y
# CT_LIBC_NEWLIB_WIDE_ORIENT is not set
CT_LIBC_NEWLIB_ENABLE_TARGET_OPTSPACE=y
CT_LIBC_NANO_NEWLIB=y
CT_LIBC_NANO_NEWLIB_IO_FLOAT=y
CT_LIBC_NANO_NEWLIB_DISABLE_SUPPLIED_SYSCALLS=y
# CT_LIBC_NANO_NEWLIB_GLOBAL_ATEXIT is not set
# CT_LIBC_NANO_NEWLIB_MULTITHREAD is not set
CT_LIBC_NANO_NEWLIB_RETARGETABLE_LOCKING=y
CT_LIBC_NANO_NEWLIB_EXTRA_SECTIONS=y
CT_GCC_SRC_DEVEL=y
CT_GCC_DEVEL_VCS_git=y
CT_GCC_DEVEL_URL="https://github.com/espressif/gcc.git"
CT_GCC_DEVEL_BRANCH="esp-2020r1"
CT_GCC_PATCH_LOCAL=y
CT_CC_GCC_EXTRA_CONFIG_ARRAY="--with-gnu-ld --with-gnu-as --enable-initfini-array"
CT_CC_GCC_ENABLE_TARGET_OPTSPACE=y
CT_CC_GCC_LIBSTDCXX_NANO=y
CT_CC_LANG_CXX=y
CT_DEBUG_GDB=y
CT_GDB_SRC_DEVEL=y
CT_GDB_DEVEL_URL="https://github.com/espressif/binutils-gdb.git"
CT_GDB_DEVEL_BRANCH="esp-2020r1-gdb"
CT_GDB_PATCH_LOCAL=y
CT_GDB_V_8_1=y
CT_ISL_V_0_19=y
CT_LIBICONV_NEEDED=y
