CT_CONFIG_VERSION="3"
CT_EXPERIMENTAL=y
CT_LOCAL_TARBALLS_DIR="${OUTPUT_DIR:-${HOME}/x-tools}/sources"
# CT_PREFIX_DIR_RO is not set
CT_PATCH_BUNDLED_LOCAL=y
CT_LOCAL_PATCH_DIR="${CT_TOP_DIR}/../../patches"
# CT_LOG_PROGRESS_BAR is not set
CT_ARCH_XTENSA=y
CT_XTENSA_CUSTOM=y
# CT_ARCH_USE_MMU is not set
CT_OVERLAY_NAME="intel_apl_adsp"
CT_OVERLAY_LOCATION="./overlays"
CT_TARGET_VENDOR="zephyr"
CT_BINUTILS_V_2_35=y
CT_NEWLIB_SRC_DEVEL=y
CT_NEWLIB_DEVEL_URL="https://github.com/zephyrproject-rtos/newlib-cygwin.git"
CT_NEWLIB_DEVEL_REVISION="b1fe4401fdbd0860e0b91227219b15d2e0142b78"
CT_LIBC_NEWLIB_IO_LL=y
CT_LIBC_NEWLIB_IO_FLOAT=y
# CT_LIBC_NEWLIB_FSEEK_OPTIMIZATION is not set
CT_LIBC_NEWLIB_DISABLE_SUPPLIED_SYSCALLS=y
CT_LIBC_NEWLIB_GLOBAL_ATEXIT=y
CT_LIBC_NEWLIB_LITE_EXIT=y
# CT_LIBC_NEWLIB_MULTITHREAD is not set
CT_LIBC_NEWLIB_RETARGETABLE_LOCKING=y
# CT_LIBC_NEWLIB_WIDE_ORIENT is not set
# CT_LIBC_NEWLIB_NANO_MALLOC is not set
# CT_LIBC_NEWLIB_NANO_FORMATTED_IO is not set
CT_LIBC_NEWLIB_EXTRA_SECTIONS=y
CT_LIBC_NANO_NEWLIB=y
CT_LIBC_NANO_NEWLIB_IO_FLOAT=y
# CT_LIBC_NANO_NEWLIB_FSEEK_OPTIMIZATION is not set
CT_LIBC_NANO_NEWLIB_DISABLE_SUPPLIED_SYSCALLS=y
CT_LIBC_NANO_NEWLIB_GLOBAL_ATEXIT=y
CT_LIBC_NANO_NEWLIB_LITE_EXIT=y
# CT_LIBC_NANO_NEWLIB_MULTITHREAD is not set
CT_LIBC_NANO_NEWLIB_RETARGETABLE_LOCKING=y
# CT_LIBC_NANO_NEWLIB_WIDE_ORIENT is not set
CT_LIBC_NANO_NEWLIB_NANO_MALLOC=y
CT_LIBC_NANO_NEWLIB_NANO_FORMATTED_IO=y
CT_LIBC_NANO_NEWLIB_EXTRA_SECTIONS=y
CT_GCC_V_10=y
CT_CC_GCC_EXTRA_CONFIG_ARRAY="--with-gnu-ld --with-gnu-as --enable-initfini-array"
CT_CC_LANG_CXX=y
CT_CC_GCC_LIBSTDCXX_NANO=y
CT_DEBUG_GDB=y
CT_GDB_V_9_2=y
CT_GDB_CROSS_PYTHON_BINARY="python3.8"
CT_GDB_CROSS_BUILD_NO_PYTHON=y
